
*{
    padding:0;
    margin:0;
}
body{
    margin:0;
    padding:0;
    background-color: black;
    max-height: auto;
    text-decoration: none; 
}
header{
    width:70%;
    height:auto;
    padding:25px;
    margin:auto;
    
}

details{
    background-color:#000;
    list-style: none;
    text-decoration: none;
    border:#FFFFFF solid 1px;
}
    summary{
    color:#FFFFFF;
    font-weight: 800;
    width:80%;
    height:auto;
    margin:10px;
    font-size:23px;
    list-style-type: '';
    cursor:pointer;
}
details[open] summary{
    list-style-type: '';
}
summary::-webkit-details-marker {
    display:none;
  }
details nav{
    
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    text-align: center;
    width:100%;
    
}
details ul li{
    text-decoration:none;
    list-style:none;
    margin:13px;
    font-size: 25px;
    width:100%;
    cursor:pointer;
}
details nav ul li a {
    text-decoration: none;
    color:#FFFFFF;
    list-style: none;
    font-family:'Arial';
    margin:auto;
    width:100%;
    cursor:pointer;
}
    


h1{
    color:#008000;
    text-align:left;
    font-family: 'Roboto Mono', monospace;
    font-size:40px;
    margin:20px;
}
#principal{
    font-family:Arial, Helvetica, sans-serif;
    margin:20px;
    font-size:80px;
    text-align: center;
    
    }
h2 {
    
    text-align:left;
    color:#008000;
    font-family: 'Roboto Mono', monospace;
    font-size:40px;
    margin:20px;
}
a {
	
	color:#008000;
}

main {
width:60%;
height:auto;
background-color: #000;
border:1px #008000 solid;
margin-right:5%;
float:right;
}
#bio{
   width:97%;
    background-color:#000;
    max-height:auto;
    min-height:300px;
    color:#008000;
}
#bio img{
    float:left; 
    width:50%;
    margin:10px;
    height:auto;

}
article{
    width:35%;
    color:#008000;
}
button{
 width:60%;
 height:40px;
 border:1px solid #A9A9A9;
 background-color: #008000;
 color:#000;
 margin:auto;
 display:block;
}
a button  {
    color:#000;
    font-family:Arial, Helvetica, sans-serif;
    font-size:30px;
    text-decoration:none;
    cursor:pointer;

    
}

article img {
    width:100%;
    height:auto;
}
aside{
    border:solid #008000;
    height:auto;
    width:26%;
    float:left;
    padding:3px;
    margin-left:5%;
}
aside p {
    color:#FFFFFF;
}
aside a {
    font-size:27px;
}
aside img{
    width:95%;
    height:auto;
    margin:10px auto;
    border-radius:100%;
}
#timer{
    color:red;
    font-size:60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
aside .post{
    border:none;
}
.post{
    margin:10px auto;
    height:auto;
    width:96%;
    border:1px solid #008000;
    padding:10px;
}
.post a{
font-size:30px;
font-family: Arial, Helvetica, sans-serif;

}
b {
    color:#008000;
    font-size:27px;
}

.btnlermais{
    float:right;
    font-size: 30px;
    background-color: #A9A9A9;
    margin:15px;
    padding:20px;
}

.geral{
    max-width: 1100px;
    background-color:black;
    max-height: auto;
    min-height: 300px;
    color:#008000;
    align-items:center;
     border-style: hidden;
     margin:0 auto;
     overflow:hidden;
}

#geral img{
    width:100%;
    height:auto;
    max-width: 1100px;
    margin:auto;
    
}


p{
    padding: 5px;
    font-size: 25px;
    margin:20px;
}
#blog{
float:left;
width:100%;

}
footer{
    background-color: black;
    color:green;
    width:100% ;
    text-align: center;
    min-height: 200px;
    margin: 0;
    display:block;
    overflow: hidden;
    float:right;
}
.referrencias{
    padding: 30px;
    background-color: #FFA07A;
    height:auto;
}
#gmail a  {
    text-decoration:none;
    color:green;
}
#copy{
    color:green;
    background-color: black;
    align-items: left;
    padding: 25px;
}
@media only screen and ( max-width:930px){
header{
padding:20px;

}
#principal{
    font-family:Arial, Helvetica, sans-serif;
    margin:10px;
    font-size:60px;
    text-align: center;
    
    }


}
@media only screen and ( max-width:720px){
	
    summary::-webkit-details-marker{
        display:none;
    }
    #principal{
        font-family:Arial, Helvetica, sans-serif;
        margin:20px;
        font-size:30px;
        text-align: center;
        
        }
        header{
            width:100%;
            max-width:100%;
            padding:0;
        }
        header img{
            width:98%;
            margin:auto;
        }
        details{
            width:90%;
            margin:auto;
            margin-bottom:15px;
        }
        summary{
           width:95%;
        }
    
    #bio{
        width:90%;
        padding:5px;
        margin:auto;
        
        
    }
    article{
        width:100%;
        margin: auto;
        
    }
    h1 {
        font-size:30px;
    }
    article img{
        margin:0;

    }
    button{
        width:90%;
    }
    main {
        width:95%;
        padding:0;
        margin:auto;
        float:center;
    }
    #bio img{
		height:auto;
		width:100%;
		margin:auto;
        border-radius: 100%;
	}
	p{
        padding:3px;
        font-size: 20px;
        margin:10px;
    }
	aside{
        width:95%;
        margin:auto;
        height:auto;
        float:center;
        padding:5px;
        
       
    }
	#timer{
        font-size:60px;
    }
	
	
	
} 